
.card * {
    color: black;
}
.card {
    position: relative;
    z-index: 1;
}
.card-body {
    text-align: left;
}

.row-container {
    display: flex;    
    width: 100vw;
    justify-content: space-between;
    margin: 0;
    padding-left: 10vw;
    padding-right: 10vw;
}
