* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    width: 100vw;
    position: fixed;
    z-index: 199;
}
header nav ul {
    display: flex;
    height: 5vh;
}
.fa-rocket {
    position: absolute;
    color: red;
    left: 0;
    top: 30vh;
    font-size: 100px;
    color: #ddf5f4;
    transform: rotate(45deg);
}
a {
    text-decoration: none!important;
    color: black!important;
    font-weight: bolder;
}
header nav ul {
    background-color: white;
    box-shadow: 2px 2px 2px #ddf5f4;

}
header nav ul li{
    display: flex;
    font-size: 18px;
    font-style: bolder;
    box-shadow: 2px 2px 2px #ddf5f4;
    list-style: none;
    width: 20%;
    justify-content: center;
    align-items: center;
    background-color: white;
}
header nav ul li img{
    height: 5vh;
    margin-left: -10vw;
}

header nav ul li:hover{
    background-color: #ddf5f4;
    font-size: 20px;
    transition: 0.3s;
}
header nav ul li:first-child {
    width: 40%;
}
header nav ul li:first-child:hover {
    background-color: white;
}

/* main section css*/
.main-section, .about-us-section {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
    background-color: #0d1122;
    height: 100vh;    
    color: #ddf5f4;
}
.main-section h1 {
    font-size: 20px;
}
footer {
    width: 100vw;
    height: 10vh;
    display: flex;
}
footer div {
    flex: 1;
    padding-left: 100px;
    display: flex;
    align-items: center;
    background-color: #0d1122!important;
    color: #ddf5f4;

}

.logos-footer {
    display: flex;
    background-color: #0d1122;
    color: #ddf5f4;
}