.shoppinghistory-content {
    width: 100vw;
    background-color: var(--green-afable);
}
.shoppingTable-title {
    font-weight: bolder;
    
    background-color: var(--green-afable);
}
.shoppingTable-title > div {
    padding-top: 15px;
    padding-bottom: 15px;
}
.shoppingTable {
    width: 80vw;
    margin: 0 auto;
    margin-top: 20px;
    background-color: var(--white-hard);
}
.shoppingTable > div {
    display: flex;
    flex-direction: row;
}
.shoppingTable > div {
    display: flex;
    flex-direction: row;

}
.shoppingTable > div div{
    display: flex;
    flex: 1;
    border: 1px solid var(--green-hard);
    justify-content: center;
    align-items: center;
}
.shoppingTable > div div img{
    max-width: 100%;
    max-height: 200px;    
}
.shoppingTable > div div{
    max-width: 100%;
}

#products {
    display: flex;
    flex-direction: column;
}

#products > div div {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 200px;
    max-width: 100%;
    vertical-align: middle;
}
#ShoppingHistory {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}