#mainsection {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 50;
  font-size: 30px;
}

@keyframes changeIt {
  from {
	bottom: 30px;
  }
  to {
	bottom: 50px;
  }
}

.arrowHover{
  transition: 1s;
  position: absolute;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
  animation-name: changeIt;
}
.arrowHover:hover {
  color: #3eadaa;
  position: absolute;
  bottom: 50px;
}


#mainsection h1{
  padding: 30px;
}

button {
  background-color: white;
  border: 1px solid #EC6261;
  color: #EC6261;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 50;
  font-size: 30px;
  margin-left: 20px;
  padding: 20px;
  transition: 0.3s;
}

button:hover {
  background-color: #3eadaa;
  border-color: white;
  color: white;

}

#mainsection p{
}
